* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  margin: 2rem 2rem;
}

.navbar {
  width: 20rem;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}

#submit {
  margin-bottom: 3rem;
}
